In [1]:
# Import Libraries
import pandas as pd
import seaborn as sns

In [2]:
# Load Titanic dataset
df = sns.load_dataset("titanic")
print("Original shape:", df.shape)

Original shape: (891, 15)

In [3]:
# Preview data
print(df.head())

   survived  pclass     sex   age  sibsp  parch     fare embarked  class  \
0         0       3    male  22.0      1      0   7.2500        S  Third
1         1       1  female  38.0      1      0  71.2833        C  First
2         1       3  female  26.0      0      0   7.9250        S  Third
3         1       1  female  35.0      1      0  53.1000        S  First
4         0       3    male  35.0      0      0   8.0500        S  Third

     who  adult_male deck  embark_town alive  alone
0    man        True  NaN  Southampton    no  False
1  woman       False    C    Cherbourg   yes  False
2  woman       False  NaN  Southampton   yes   True
3  woman       False    C  Southampton   yes  False
4    man        True  NaN  Southampton    no   True

In [4]:
# Check missing values
print("\nMissing values:\n", df.isnull().sum())

Missing values:
 survived         0
pclass           0
sex              0
age            177
sibsp            0
parch            0
fare             0
embarked         2
class            0
who              0
adult_male       0
deck           688
embark_town      2
alive            0
alone            0
dtype: int64

In [5]:
# Fill missing 'age' with median
df['age'].fillna(df['age'].median(), inplace=True)

/tmp/ipython-input-5-2195712900.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['age'].fillna(df['age'].median(), inplace=True)

In [6]:
# Fill missing 'embarked' with mode
df['embarked'].fillna(df['embarked'].mode()[0], inplace=True)

/tmp/ipython-input-6-1305036756.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['embarked'].fillna(df['embarked'].mode()[0], inplace=True)

In [7]:
# Drop 'deck' column (too many missing values)
df.drop(columns=['deck'], inplace=True)

In [8]:
# Remove duplicate rows (if any)
before = df.shape[0]
df.drop_duplicates(inplace=True)
after = df.shape[0]
print(f"\nRemoved {before - after} duplicate rows.")

Removed 116 duplicate rows.

In [9]:
# Convert 'pclass' to string (fixing type for categorical analysis)
df['pclass'] = df['pclass'].astype(str)

In [10]:
# Convert 'fare' to numeric (force errors to NaN if corrupted)
df['fare'] = pd.to_numeric(df['fare'], errors='coerce')

In [11]:
# Final check
print("\nCleaned Data Summary:")
print(df.info())
print("\nMissing values after cleaning:\n", df.isnull().sum())

Cleaned Data Summary:
<class 'pandas.core.frame.DataFrame'>
Index: 775 entries, 0 to 890
Data columns (total 14 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   survived     775 non-null    int64
 1   pclass       775 non-null    object
 2   sex          775 non-null    object
 3   age          775 non-null    float64
 4   sibsp        775 non-null    int64
 5   parch        775 non-null    int64
 6   fare         775 non-null    float64
 7   embarked     775 non-null    object
 8   class        775 non-null    category
 9   who          775 non-null    object
 10  adult_male   775 non-null    bool
 11  embark_town  773 non-null    object
 12  alive        775 non-null    object
 13  alone        775 non-null    bool
dtypes: bool(2), category(1), float64(2), int64(3), object(6)
memory usage: 75.1+ KB
None

Missing values after cleaning:
 survived       0
pclass         0
sex            0
age            0
sibsp          0
parch          0
fare           0
embarked       0
class          0
who            0
adult_male     0
embark_town    2
alive          0
alone          0
dtype: int64